*{ 
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.bangladesh {
    width: 600px;
    height: 120px;
    background: url(./image/sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px;
    position: relative;
    font-size: 70px;
    display: inline-block;
    place-items: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px #000;
    text-align: center;
    border: 10px solid purple;
    border-image: url(./image/sky.jpg) 12 round;
    padding: 10px;
    clip-path: polygon(0px 12px, 12px 12px, 12px 0px, calc(100% - 12px) 0px, calc(100% - 12px) 12px,
    calc(100% - 0px) 12px, calc(100% - 0px) calc(100% - 12px), calc(100% - 12px) calc(100% - 0px),
    12px calc(100% - 0px), 12px celc(100% - 12px), 0px calc(100% - 12px));

}

