/* import popins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    text-transform: uppercase;
    font-family: Poppins;
    letter-spacing: 6px;
    background: url("https://source.unsplash.com/random/1920x1080") center/cover no-repeat;
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 900;
    -webkit-text-stroke: 2px #000;
    animation: bd 6s infinite linear;
    overflow: hidden;
}

@keyframes bd {
    0%{
        font-size: 3vh;
    }
    50%{
        font-size: 9vh;
    }
    100%{
        font-size: 3vh;
    }
}