body
{
  
  margin: 0;
  padding: 0;
 
}
h1
{
  
  text-shadow: 10px 20px 18px,
  rgb(1, 56, 9) -10px 22px 18px;
  background-origin: padding-box;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  color: rgb(218, 9, 9);
  font-family: sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 6em;
  -webkit-text-fill-color: rgb(2, 59, 5);
  -webkit-text-stroke-width: 2px;
  
}
